<div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="#">PasteBin</a>
                <!-- 实现响应式导航条 -->
                <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="/">Index</a></li>
                    <li class="divider-vertical"></li>
                </ul>
                </div>
                <form class="navbar-search pull-right" method="post" action="/search">
                    <input type="text" class="fix-input search-query" placeholder="Search">
                </form>
            </div>
        </div>
            
</div>